*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto',
  sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  color: #e5e7eb;
  display: flex;
  gap: 15px;
}


.header-logo {
  font-size: 24px;
  color: #f9faf8;

}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 145px 170px 145px;
}

.hero-container {
  display: flex;
  background-color: #1f2937;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-height: 60vh;
  align-content: center;
  padding: 200px 0 400px 0;
}

.hero {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  height: 400px;
  font-size: 48px;
  font-weight: 900;
  max-width: 800px;
}


.main-image {
  max-width: 500px;
  max-height: 400px;
  padding: 40px;
}

.secondary-text{
  font-size: 18px;
  color: #e5e7eb;
}

.information-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 100px
}

.text {
  display: flex;
  max-width: 180px;
}

.box {
  border: #3882f6 6px solid;
  border-radius: 15px;
  min-height: 180px;
  min-width: 180px;
  display: flex;
  margin: 20px;
}

.image {
  border-radius: 15px;
  min-height: auto;
  min-width: 180px;
}

/* #tire {
  min-width: 180px
} */

.text {
  display: flex;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 36px;
  font-weight:lighter;
  font-style: italic;
  color:#1f2937;
  padding: 200px;
}

.quote {
  padding: 40px;
}

.quote-name {
  font-size: 24px;
  font-style: normal;

}

.contact {
  display: flex;
  min-height: 20vh;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.blue-square {
  background-color: #3882f6;
  color: #e5e7eb;
  height: 200px;
  width: 1000px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button1 {
  color: white;
  background-color: #3882f6;
  padding: 10px 50px;
  border-radius: 10px;
}

.button2 {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #3882f6;
  border: white 3px solid;
  color: white;
}

.button1, .button2 {
  max-width: 200px;
  max-height: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 5vh;
  color: #e5e7eb;;
}

@media(max-width: 1000px) {
   .quote-section, .hero-container {
     padding: 110vh 0;
   }
   .hero-container {
    padding: 200px 0 400px 0;
   }
}