*,
*::before,
*::after {
  box-sizing: border-box;
  border: black 2px solid;
  font-family: 'Roboto',
  sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  color: #e5e7eb;
  display: flex;
  gap: 15px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;

}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-container {
  display: flex;
  background-color: #1f2937;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  height: 400px;
  font-size: 48px;
  font-weight: 900;
  max-width: 800px;
}

.main-image {
  max-width: 500px;
}

.secondary-text{
  font-size: 18px;
  color: #e5e7eb;
}

.information-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
}

.grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 100px
}

.text {
  display: flex;
max-width: 180px;

}

.box {
  border: #3882f6 6px solid;
  border-radius: 15%;
  min-height: 180px;
  min-width: 180px;
  margin: 50px;
  display: flex;
}

.text {
  display: flex;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}
.contact {
  display: flex;
  min-height: 20vh;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.blue-square {
  background-color: #3882f6;
  height: 200px;
  width: 500px;
  border-radius: 15%;
  display: flex;
}

.button1 {
  color: white;
  background-color: #3882f6;
  padding: 10px 50px;
  border-radius: 10px;
}

.button1, .button2 {
  max-width: 200px;
  max-height: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
}